<%= javascript_pack_tag 'calendar'%>
<nav class="navbar">
  
  <!-- 一旦 html で表示しているけど，後でちゃんと rails で実装する -->
  <select name="event" class="browser-default custom-select custom-select-lg col-md-3 mb-3">
    <option>JPHACKS</option>
    <option>AtCoder勉強会</option>
  </select>

  <%#= rendar 'events' %>
</nav>
<div id="calendar"></div>